.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 10rem 0;
  margin: 8rem auto;
  border-top: 1px solid lightgray;
}

.header {
  font-size: 3rem;
}

.title {
  font-size: 1.5rem;
  color: goldenrod;
}

.container p {
  font-size: 2rem;
  text-align: center;
  color: #333;
  max-width: 112ch;
}