.sale {
  background-image: linear-gradient(to right, #ffffff, #fcfaff, #fbf6ff, #fbf0ff, #fcebff, #fcebff, #fcebff, #fcebff, #fbf0ff, #fbf6ff, #fcfaff, #ffffff);
  text-align: center;
  color: #AF215F;
  padding: 1.5rem;
}