.container {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr .5fr;
  top: 8.5rem;
  left: 0;
  width: 100vw;
  z-index: 3;
  background-color: white;
  border-top: 1px solid #eee;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  margin: 0 auto;
}

.list_item__content {
  color: gray;
}

.img {
  object-fit: cover;
}